# Java - gradle
*.class
*.jar
galassifier/build/
galassifier/.gradle/
galassifier/bin/

# Python
__pycache__/
*.pyc
galassifier-ml/venv/
galassifier-ml/galaxy_tests/
*.egg-info/

# vue.js
# galassifier-client/

# OS / IDE
.DS_Store
galassifier/.vscode/
*.log